:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
  --first-bg-color: #2f303a;
  --footer-address-color: rgba(255, 255, 255, 0.6);
  --icons-color: #afb1b8;
}

img {
  display: block;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin-top: 0;
  margin-bottom: 0;
}

body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);

  font-family: Roboto, sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section-title {
  color: var(--title-text-color);
  font-size: 36px;
  line-height: 1.17;
  text-align: center;

  margin-bottom: 50px;
}
/*Button*/

.button {
  color: var(--title-text-color);
  cursor: pointer;

  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;

  border-radius: 4px;
  border: transparent;
}


/* --------------------Header--------------------------- */

.header {
  border-bottom: 1px solid #ececec;
}

.header__container {
  display: flex;
}

.logo {
  color: var(--title-text-color);
  font-family: Raleway;

  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo-title {
  color: var(--accent-color);
}

.header__logo:hover,
.header__logo:focus {
  color: var(--accent-color);
}
.site-nav__link,
.contacts__link {
  color: var(--title-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  display: block;
  padding: 32px 0;
}

.header__nav {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
  margin-left: 93px;
}

.site-nav__item {
  margin-right: 50px;
}
.site-nav__item--reset {
  margin-right: 0;
}

.site-nav__link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.site-nav__link:hover,
.site-nav__link:focus {
  color: var(--accent-color);
}

.site-nav .current {
  color: var(--accent-color);
}

.site-nav__link {
  position: relative;
}

.site-nav__link.current::after {
  display: block;
  content: '';
  /* outline: 4px solid red; */
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
  position: absolute;
  bottom: -1px;
}
.contacts {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.contacts__item--right {
  margin-right: 50px;
}
.contacts__link {
  display: flex;
  align-items: center;

  color: var(--primary-text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts__icon {
  /* display: flex; */
  margin-right: 10px;
  fill: currentColor;
}

.contacts__link:hover,
.contacts__link:focus {
  color: var(--accent-color);
}

/*-------------------Modal---------------------------*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 2;

  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  /* visibility: hidden; */
}

.backdrop.is-hidde .modal {
  transform: translate(-50%, -50%) scale(1.1);
  opacity: 0;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  visibility: visible;

  padding: 40px;

  min-width: 528px;
  min-height: 581px;
  background-color: var(--primary-white-color);

  transform: translate(-50%, -50%) scale(1);
  opacity: 1;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form {
  /* outline: 2px solid red; */
  margin-top: 12px;
}

.form-field {
  /* outline: 2px solid green; */
  display: flex;
  flex-direction: column;
  text-align: left;
  position: relative;
  margin-top: 10px;
}

.form-field label {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: #757575;

  padding-bottom: 4px;
}

.form-field input {
  /* outline: 2px solid orange; */
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 40px;
  padding-left: 40px;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-field input:focus,
.form-field input:hover {
  outline: none;
  border: 1px solid var(--accent-color);
}
.form-field input:hover {
  cursor: pointer;
}

.form-field input:focus ~ .form-field__icon,
.form-field input:hover ~ .form-field__icon {
  fill: var(--accent-color);
}

textarea {
  resize: none;
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-field__comment {
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  /* color: rgba(117, 117, 117, 0.5); */
  height: 120px;
}
.form-field textarea:focus,
.form-field textarea:hover {
  outline: none;
  border: 1px solid var(--accent-color);
  cursor: pointer;
}

.modal__title {
  display: block;
  margin-bottom: 0;
  margin-top: 0;

  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;

  color: #212121;
}

.form-field__icon {
  /* outline: 2px solid blue; */
  position: absolute;
  top: 50%;
  margin-left: 15px;
  width: 18px;
  height: 18px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.text-form {
  margin-top: 20px;
  margin-bottom: 30px;
}
.agreement {
  display: block;
  align-items: center;
  justify-content: center;

  font-weight: normal;
  font-size: 14px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  margin-top: 0;
}

.agreement__checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.agreement__icon {
  display: inline-block;
  margin-right: 8px;
  width: 15px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
}

.agreement__checkbox:checked + .agreement__icon {
  background-color: var(--accent-color);
  background-image: url(../images/full-check.svg);
  border-color: var(--accent-color);
  background-size: contain;
  background-origin: border-box;
}

.text-form__contract {
  color: var(--accent-color);
}

.form__btn-submit {
  width: 200px;
  height: 50px;
  padding: 10px 0;

  font-weight: bold;
  font-size: 16px;
  line-height: 1.7;
  letter-spacing: 0.06em;

  cursor: pointer;

  color: var(--primary-white-color);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  outline: none;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form__btn-submit:hover,
.form__btn-submit:focus {
  background-color: #188ce8;
}
.btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;

  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  cursor: pointer;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-close:hover,
.btn-close:focus {
  fill: var(--accent-color);
}

/* ------------------Hero----------------------------- */

.hero {
  background-color: #2f303a;
  text-align: center;
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__container {
  /* height: 600px; */
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero__title {
  color: var(--primary-white-color);

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;

  margin-top: 0;
  margin-bottom: 30px;
}
.hero__button {
  color: var(--primary-white-color);
  background-color: var(--accent-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;

  padding: 11px 32px;
  min-width: 200px;
  text-align: center;
}

/* --------------------Features------------------- */

.features {
  padding-top: 94px;
  padding-bottom: 0;
}

.feature-list__icons {
  display: flex;
  width: 270px;
  height: 120px;
  justify-content: center;
  align-items: center;
  /* border: 1px solid var(--icons-color); */

  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.feature-list {
  display: flex;
  justify-content: center;
}

.feature-list__item {
  width: 270px;
}

.feature-list__item + .feature-list__item {
  margin-left: 30px;
}

.feature-list__title {
  color: var(--title-text-color);

  font-size: 14px;
  line-height: 1.14;

  margin-top: 0;
  margin-bottom: 10px;
}

.feature-list__content {
  margin-top: 0;
  margin-bottom: 0;
}

/* -----------------Activity---------------------- */
.activity {
  display: flex;
}

.activity__item {
  width: 370px;
  position: relative;
  /* outline: 1px solid red; */
}

.activity__item + .activity__item {
  margin-left: 30px;
}

.activity__text {
  position: absolute;
  bottom: 0;

  width: 100%;
  padding: 27px;

  line-height: 1.14;
  font-weight: 700;
  color: var(--primary-white-color);
  background-color: rgba(47, 48, 58, 0.8);
  border-radius: 0px 0px 4px 4px;
  text-transform: uppercase;
  text-align: center;
}

/*-----------------------Team-----------------------------------*/

.team__section {
  background-color: #f5f4fa;
}
.caption__name {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}

.caption__profession {
  font-size: 16px;
  line-height: 1.19;

  margin-top: 10px;
}

.team {
  display: flex;
}

.team__item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team__item + .team__item {
  margin-left: 30px;
}



.socialnetworks {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.socialnetworks__list + .socialnetworks__list {
  margin-left: 10px;
}

.socialnetworks__link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  color: var(--icons-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.socialnetworks__icon {
  fill: currentColor;
}

.socialnetworks__link:hover,
.socialnetworks__link:focus {
  color: #ffffff;
  background-color: var(--accent-color);
}

/* ----------------clients------------------ */

.clients-list {
  display: flex;
  justify-content: center;
}

.clients-list__item + .clients-list__item {
  margin-left: 30px;
}

.clients-list__link {
  display: flex;
  width: 170px;
  height: 92px;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--icons-color);
  border-radius: 4px;
  color: var(--icons-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list__icon {
  fill: currentColor;
}
.clients-list__link:hover,
.clients-list__link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

/* --------------------Portfolio----------------------------- */

.filters-list {
  display: flex;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 50px;
}

.filters-list__item + .filters-list__item {
  margin-left: 8px;
}
.filters-list__button {
  background-color: var(--secondary-bg-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;

  padding: 6px 22px;
  min-width: 73px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filters-list__button:hover,
.filters-list__button:focus,
.filters-list__button:active {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-basis: inherit;
}

.portfolio__element {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.meta {
  padding: 20px 24px;
  border-width: 0px 1px 1px 1px;
  border-color: #eeeeee;
  border-style: solid;
}
.meta__title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;

  letter-spacing: 0.06em;

  margin-bottom: 4px;
}
.meta__project {
  color: #757575;
  font-size: 16px;
  line-height: 1.87;
}
.portfolio__element:nth-child(3n) {
  margin-right: 0px;
}

.portfolio__element:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.portfolio__thumb {
  position: relative;
  overflow: hidden;
}

.portfolio__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);

  padding: 63px 24px;

  transform: translateY(100%);
  opacity: 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

  outline: 2px solid teal;
}

.portfolio__link {
  display: block;
  transition: box-shadow 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);

  text-decoration: none;
}

.portfolio__link:hover,
.portfolio__link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__link:hover .portfolio__overlay,
.portfolio__link:focus .portfolio__overlay {
  opacity: 1;
  transform: translateY(0);
}

.portfolio__overlay-text {
  margin: 0;
  font-size: 18px;
  line-height: 1.55;

  color: var(--primary-white-color);
}

/* -----------------Footer------------------- */
.footer {
  background-color: #2f303a;
    padding-top: 60px;
  padding-bottom: 60px;
}
.footer__container {
  display: flex;
}

.footer__logo {
  color: var(--primary-white-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__logo:hover,
.footer__logo:focus {
  color: var(--accent-color);
}

.address {
  line-height: 1.71;
  font-style: normal;

  margin-top: 0;
  margin-bottom: 0;
}

.address__link:hover,
.address__link:focus {
  color: var(--accent-color);
}

.address__item {
  margin-bottom: 9px;
}
.address__item--top {
  margin-top: 20px;
}

.address-list:hover,
.address-list:focus {
  color: var(--accent-color);
}

.address__link {
  color: var(--footer-address-color);
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address__link--color {
  color: var(--primary-white-color);
}

.footer-sn {
  margin: 12px 0 0 70px;
}
.invitation {
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.14;
  color: #ffffff;
  margin-bottom: 20px;
}
.icons {
  display: flex;
}
.icons__link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icons__image {
  justify-content: center;
  fill: currentColor;
}
.icons__item + .icons__item {
  margin-left: 10px;
}

.icons__link:hover,
.icons__link:focus {
  background-color: var(--accent-color);
}

.subscribe {
  width: 570px;
  margin-left: 93px;
  margin-top: 12px;
}
.subscribe__text-title {
  display: flex;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1.1;
  color: var(--primary-white-color);
  margin-bottom: 20px;
}
.subscribe .js-speaker-form {
  display: flex;
}
.js-speaker-form .icon {
  margin-left: 10px;
}

.js-speaker-form .input {
  width: 358px;
  height: 50px;
  padding-left: 16px;

  background-color: #2f303a;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: rgba(255, 255, 255, 0.6);
}
.js-speaker-form .input:hover,
.js-speaker-form .input:focus {
  outline: none;
  border: 1px solid var(--accent-color);
}
.subscribe .btn-submit {
  display: flex;
  justify-content: center;
  width: 200px;
  height: 50px;
  padding: 10px 0;
  margin-left: 12px;

  font-weight: bold;
  font-size: 16px;
  line-height: 1.7;
  letter-spacing: 0.06em;
  color: #ffffff;

  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  outline: none;
  border: transparent;

  cursor: pointer;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe .btn-submit:hover,
.subscribe .btn-submit:focus {
  background-color: #188ce8;
}
