.features {
  padding-top: 94px;
  padding-bottom: 0;

  @media screen and (max-width: 1199px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .feature-list {
    display: flex;
    justify-content: center;
  }
}
@media screen and (min-width: 768px) {
  .feature-list {
    display: flex;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .feature-list {
    flex-wrap: wrap;
  }
}

.feature-list__icons {
  display: flex;
  height: 120px;
  justify-content: center;
  align-items: center;

  background-color: $secondaryBgColor;
  border-radius: 4px;
  margin-bottom: 30px;
}

.feature-list__title {
  color: $titleTextColor;

  font-size: 14px;
  line-height: 1.14;

  margin-top: 0;
  margin-bottom: 10px;
  text-transform: uppercase;

  @media screen and (max-width: 767px) {
    text-align: center;
  }
}

.feature-list__content {
  margin-top: 0;
  margin-bottom: 0;
}

@media screen and (max-width: 767px) {
  .feature-list__item {
    width: 450px;
  }
  .feature-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .feature-list__item {
    width: 354px;
  }
  .feature-list__item:nth-child(2n) {
    margin-left: 30px;
  }
  .feature-list__item:nth-child(-n + 2) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .feature-list__item {
    width: 270px;
  }
  .feature-list__item:not(:first-child) {
    margin-left: 30px;
  }
}
