.hero {
  background-color: #2f303a;
  text-align: center;

  margin-left: auto;
  margin-right: auto;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  @media screen and (min-width: 320px) and (max-width: 767px) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/img480.jpg);
    height: 400px;
    max-width: 480px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/img768.jpg);
    height: 400px;
    max-width: 768px;
  }

  @media screen and (min-width: 1200px) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero.jpg);
    height: 600px;
    max-width: 1600px;
  }

  @media screen and (min-device-pixel-ratio: 2) and (min-width: 320px) and (max-width: 767px),
    screen and (min-resolution: 192dpi) and (min-width: 320px) and (max-width: 767px),
    screen and (min-resolution: 2dppx) and (min-width: 320px) and (max-width: 767px) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../../images/img480@2x.jpg);
    height: 400px;
    max-width: 480px;
  }

  @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px) and (max-width: 1199px),
    screen and (min-resolution: 192dpi) and (min-width: 768px) and (max-width: 1199px),
    screen and (min-resolution: 2dppx) and (min-width: 768px) and (max-width: 1199px) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../../images/img768@2x.jpg);
    height: 400px;
    max-width: 768px;
  }

  @media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
    screen and (min-resolution: 192dpi) and (min-width: 1200px),
    screen and (min-resolution: 2dppx) and (min-width: 1200px) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../../images/Img1600@2x.jpg);
    height: 600px;
    max-width: 1600px;
  }
}

.hero__container {
  padding-top: 200px;
  padding-bottom: 200px;

  @media screen and (max-width: 1199px) {
    padding-top: 118px;
    padding-bottom: 118px;
  }
}

.hero__title {
  color: $primaryWhiteColor;
  text-transform: uppercase;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;

  margin-top: 0;
  margin-bottom: 30px;

  @media screen and (max-width: 1199px) {
    font-size: 26px;
    line-height: 1.61;
  }
}

.hero__button {
  color: $primaryWhiteColor;
  background-color: $accentColor;

  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;

  padding: 10px 32px;
  min-width: 200px;
  text-align: center;
}
