$primaryTextColor: #757575;
$titleTextColor: #212121;
$accentColor: #2196f3;
$primaryWhiteColor: #ffffff;
$secondaryBgColor: #f5f4fa;
$firstBgColor: #2f303a;
$footerAddressColor: rgba(255, 255, 255, 0.6);
$iconsColor: #afb1b8;
